##
## TERRAFORM REMOTE STATE
##

terraform {
  backend "remote" {
    hostname     = "app.terraform.io"
    organization = "foo"

    workspaces {
      name = "approuvez"
    }
  }
}

##
## PROVISIONING
##

provider "aws" {
  version = "~> 2.47.0"
  region  = "eu-west-1"
}

locals {
  api_gateway_websocket_arn = "arn:aws:execute-api:eu-west-1:xxxxxxx:yyyyyy/*"
  api_gateway_websocket_endpoint = "yyyyy.execute-api.eu-west-1.amazonaws.com/prod"
}
