##
## PROVISIONING
##

provider "aws" {
  version = "~> 2.62.0"
  region  = "eu-west-3"
}

##
# MODULES
##

module "approuvez" {
  source = "git::git@github.com:mvisonneau/approuvez.git//terraform/modules/approuvez?ref=master"
}

// module "approuvez_custom_domains" {
//   source = "git::git@github.com:mvisonneau/approuvez.git//terraform/modules/approuvez/custom_domains?ref=master"

//   rest_api_id      = module.approuvez.rest_api_id
//   rest_api_stage   = module.approuvez.stage
//   rest_domain_name = "approuvez.example.com"
  
//   websocket_api_id      = module.approuvez.websocket_api_id
//   websocket_api_stage   = module.approuvez.stage
//   websocket_domain_name = "approuvez-ws.example.com"
// }